@media(max-width: 700px)
{
    
/* Entrez ici vos propriétés CSS lorsque l'utilisateur est sur smartphone */
}

@media(min-width: 768px) and (max-width: 1388px)
{
    
/* Entrez ici vos propriétés CSS lorsque l'utilisateur est sur tablette */	
}

body {
    font-family: 'raleway', sans-serif;
    width: max-content;
    height: max-content;
    background-image: url('../img/86389.jpg');
    background-size: cover;
}

main {
    height: inherit;
    width: 100%;
    background-color: hotpink;
    position: absolute;
}

.container__footer {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(230, 185, 114);
}


.container__logo {
    position: absolute;
    right: 0;
}

.container__menu {
    position: absolute;
    left: 10px;
    
}

.menu__img {
    width: 50px;
    height: auto;
}

#icon-menu {
    width: 50px;
    height: auto;
}

.menu--hide {
    transition: .25s ease;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .--visible {
      z-index: 99;
    max-height: 99em;
    opacity: 1;
    visibility: visible;
  }

  nav {
      display: flex;
  }

  ul li {
    text-decoration: none;
    display: inline;
    font-weight: bold;
  }

  li {
      padding-left: 8px;
      padding-right: 8px;;
  }


.container__home {
    position: absolute;
    top: 50px;
    left: 20%;
    display: flex;
    flex-wrap: wrap;
}

.half-column__image {
    width: 300px;
    height: 300px;
}

img#profil {
    width: inherit;
    height: auto;
    border-radius: 210px;;
    border-color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 210px;
    -moz-border-radius: 210px;
    -ms-border-radius: 210px;
    -o-border-radius: 210px;
}

.half-column__presentation {
    background-color: rgb(69, 107, 98);
    border-radius: 210px;;
    border-color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    padding: 50px;
    
}









