@media (min-width: 358px) and (max-width: 700px)
{
    .container__home {
        width: 60%;
    }

    #mon-menu {
        font-size: 0.6em;
    }
/* regarder s'il est possible de créer un effet au passage du doigt */

    img#profil {
        right: 40px;
    }

    
/* Entrez ici vos propriétés CSS lorsque l'utilisateur est sur smartphone */
}

@media(min-width: 768px) and (max-width: 1250px)
{
    
/* Entrez ici vos propriétés CSS lorsque l'utilisateur est sur tablette */	
}

body {
    font-family: 'raleway', sans-serif;
    width: auto;
    height: auto;
    }

header {
    position: relative;
}

main {
    height: inherit;
    width: 100%;
    background-color: hotpink;
    position: relative;
}

footer {
    position: relative;
}

.container__footer {
    /*position: absolute;*/
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(230, 185, 114);
}


.container__logo {
    position: absolute;
    right: 0;
}

.container__menu {
    position: absolute;
    left: 10px;
    
}

.menu__img {
    width: 50px;
    height: auto;
}

#icon-menu {
    width: 50px;
    height: auto;
}

.menu--hide {
    transition: .25s ease;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .--visible {
    z-index: 99;
    max-height: 99em;
    opacity: 1;
    visibility: visible;
  }

  nav {
      display: flex;
  }

  ul li {
    text-decoration: none;
    display: inline;
    font-weight: bold;
  }

  li {
      padding-left: 3px;
      padding-right: 0px;;
  }

  a:hover {
      font-size: 1.8em;
      cursor: pointer;
  }


.container__home {
    position: absolute;
    width: 80%;
    top: 50px;
    left: 20%;
    display: flex;
    flex-wrap: wrap;
}

img#profil {
    width: 300px;
    height: auto;
    border-radius: 210px;;
    border-color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 210px;
    -moz-border-radius: 210px;
    -ms-border-radius: 210px;
    -o-border-radius: 210px;
}

.half-column__presentation {
    background-color: rgb(69, 107, 98);
    border-radius: 210px;;
    border-color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    padding: 50px;
    
}




.parcours {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.fas {
    /*centrer bouton plus le rendre transparent*/
    transition: opacity 0.3s, left 0.3s, right 0.3s;
    width: 60px;
    height: 60px;
}

img {
    border-radius: 250px;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -ms-border-radius: 250px;
    -o-border-radius: 250px;
}

.previous, .next {
    width: 35px;
}
.previous {
    opacity: 1;
}
.
.container__parcours {
   /* display: grid;
    grid-template-columns: 40% 200px 20%;
    place-content: center;
    width: 100%;*/
}

.gallery-wrapper {
    overflow: hidden;
    width: 100%;
    display: block;
}

.previous, .next {
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.gallery {
    transform-style: preserve-3d;
    display: grid;
    grid-template-columns: repeat(5, auto);
    transform: translateX(0px);
}

.card {
    margin-right: 20px;
    align-self: center;
    display: none;
}

img {
    width: 400px;
    height: auto;
}

.current {
    display: block;
}*/





